<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>Parcels</h1>

    <form action="/parcels" method="post">
      <label for="length">Enter your length:</label>
      <input id="length" name="length" type="number" required>

      <label for="width">Enter your length:</label>
      <input id="width" name="width" type="number" required>

      <label for="height">Enter your length:</label>
      <input id="height" name="height" type="number" required>

      <label for="weight">Enter your length:</label>
      <input id="weight" name="weight" type="number" required>

      <button type="submit">Submit</button>
    </form>

  </body>
</html>
